<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('app_bienvenu') }}">Bienvenue</a></li>
            <li><a href="{{ path('app_bienvenus') }}">Bienvenue à tous</a></li>
            <li><a href="{{ path('app_etudiant_list') }}">Liste des étudiants</a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>
</header>