<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('app_bienvenu') }}">Bienvenue</a></li>
            <li><a href="{{ path('app_bienvenus') }}">Bienvenue à tous</a></li>
        </ul>
    </nav>
</header>