{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <ul>
        {% for personne in personnes %}
            <li>{{ personne | capitalize}}</li>
        {% endfor %}
    </ul>

{% endblock %}
